
.websiteImage
{
    width:40vw;
    display:block;
    box-shadow:1px 1px 1px 1px gray;
    border-radius:10px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:50px;
}


 .singleLectureContainer
{width:90%;margin-left:auto;margin-right:auto;margin-bottom:100px}
.gitIcons a
{font-family:Raleway,sans-serif;color:#666;font-weight:100}
 @media (min-width: 1100px) 
{
    .singleLectureContainer
        {width:70%;}
    .websiteImage
    {
        width:18vw;
        display:block;
        box-shadow:1px 1px 1px 1px gray;
        border-radius:10px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:50px;
    }
}

.ln {
    background-color:rgb(243, 239, 239);
    height:1px;
}
